/*
    ==============================================================================
    File        : signup.css
    Version     : 1.0
    Description : Styles sheet for the sign up component of the A++ IDE.
    Author      : Arthur
    Created     : 2025-08-19
    Last Update : 2025-08-19
    ==============================================================================
*/
footer {
    margin-top: 40px;
    font-size: 0.85rem;
    text-align: center;
}

footer a {
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}