/*
    ==============================================================================
    File        : console.css
    Version     : 1.0
    Description : Styles sheet for the console component of the A++ IDE.
                    - Styles for the console and preformatted text
    Author      : Arthur
    Created     : 2025-07-26
    Last Update : 2025-08-19
    ==============================================================================
*/
.console-container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.console {
    border-radius: 8px;
    padding: 20px;
    height: 300px;
    margin-bottom: 40px;
    max-width: 70vw;
    width: 70vw;
    box-sizing: border-box;
}

pre {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5;
}