/*
    ==============================================================================
    File        : home.css
    Version     : 1.0
    Description : Styles sheet for the home component of the A++ IDE.
                    - Styles for the home page layout and design
    Author      : Arthur
    Created     : 2025-07-26
    Last Update : 2025-09-28
    ==============================================================================
*/
h1 {
    font-size: 3rem;
}

header {
    margin-bottom: 40px;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}

footer {
    margin-top: 40px;
    font-size: 0.9rem;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
}